body{
    background-color: beige;
}
.conteiner{
    width: 100%;
    max-width: 872px;
    background-color: white;
    border-radius: 5%;
    margin-left: auto;
    margin-right: auto;
}
header{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    margin-top: 5%;
}
h1{
    position: relative;
    width: 60%;
    margin-left: 3%;
}